
<!DOCTYPE HTML>

<html>
<head>
    <title>Darululoom Mangalpally</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" rel="stylesheet" />


</head>
<body class="left-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="index">Darululoom Mangalpally</a></h1>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="Index">Home</a></li>
                        <li><a href="AboutUs">About us</a></li>                     
                        <li><a href="GALLERY">Gallery</a></li>
                        <li><a href="MANAGEMENT">Management</a></li>
                      
                    </ul>
                </nav>

            </div>
        </div>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="main" class="container">
                <div class="row 200%">         
                    <!-- Content -->
                    <div id="content" class="8u 12u(narrower) important(narrower)">
                        <article>
                            <header>
                                <h2>Darululoom Mangalpall</h2>
                            </header>
                            <h3>
                                WAS FOUNDED BY RESPECTABLE & RELIGIOUS PERSONALITY
                            </h3>
                            <p>MOHTARAM ALHAJ MOHAMMED KHALEEL UR RAHMAN sahab marhoom marqhaduhu VA maghfiratuhu.</p>
                            <p>
                                Inaugurated by Aalijanab Hazrath Answer e millat Maulana Muhammed HAMEED UDDIN AQHIL HUSAMI sahab marhoom maghfiratuhu
                                Founder and Mohtamam JAMIA ISLAMIA DARUL ULOOM HYDERABAD ON SUNDAY 16 JUNE 2002 ( 4 Rabbius sani 1423 Hijri)

                                Since  year 2014 onwards ALHAJ MAULANA HAFIZ MOHAMMED SHAKIR Sahab QASMI
                                MA.(Urdu),
                                M.A(Arabic),
                                BCJ,(journalism)
                                Ph.D (Arabic)pursuing  taken responsibility
                                as a NAZIM E MADRASA (Principal) and working hard with long vision for better education, alongwith modern education system , computer science sports and cultural activities.
                            </p>
                            <h3>Parants matter</h3>
                            <p>
                                Every parent is concerned about their child’s education and wants to provide the best
                                education to them. Nowadays child’s education is beyond learning how to write and read. Child’s education means child’s grooming, enhancing his knowledge, exposing him to different ideas and introducing him to the environment around him.
                            </p>
                            <h3>Teachers matter</h3>
                            <p> Teachers are the core of learning growth among students. Outstanding teachers don’t just teach students, they accelerate learning and boost confidence among children. When it comes to great performance by students, more than any other aspects of schooling, Teachers matter more to students’ achievements.</p>
                            <h3>
                                Student-Teacher Ratio
                            </h3>
                            <p>The student-teacher ratio is one of the most critical aspects, you should look for while searching for schools. A lower student-teacher ratio guarantees better individual attention and can help your child reach his/her full potential. Students who actually connect with the teachers, tend to get more out of a course and retain more information discussed in the classroom</p>
                            <h3>Certificates for legal documents</h3>
                            <img width="1100" src="~/images/pic26.jpeg" />
                            <img width="1100" src="~/images/pic27.jpeg" />
                            <img width="1100" src="~/images/pic28.jpeg" />
                        </article>
                    </div>

                </div>
            </div>

        </div>

        <!-- Footer -->
        <div id="footer">
            <div class="container">

                <!-- Footer List -->
                <div id="contact">
                    <ul class="style4">
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-cog"></span>
                            </div>
                            <span>
                                Manual pally village
                                IBRAHIM PATNAM
                                Range reddy dist<br />
                                Telangana.
                            </span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-anchor"></span>
                            </div>
                            <span>
                                <a href="#">info@untitled.com</a><br />
                                <a href="#">contact@untitled.com</a>
                            </span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <span>+(91) 9394705695<br /> +(91) 9347563367</span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-envelope"></span>
                            </div>
                            <span>
                              
                                <a href="#">facebook.com/untitled-corp</a>
                            </span>
                        </li>
                    </ul>
                </div>

                <!-- Newsletter -->
                <div id="newsletter">
                    <div class="row">
                        <section class="6u 12u(narrower)">
                            <span>Online Donations</span>
                            <h3>Paytm and G Pay number:-9121625482</h3>
                            <span>Bank Donations</span>
                            <h2>
                                Canara bank<br />
                                Branch: Vanasthalipuram<br />

                                AC No: 1825101024688<br />
                                IFSC code: CNRB0001825<br />
                            </h2>
                        </section>
                        <section class="6u 12u(narrower)">
                            <form method="post" action="#" id="subscribe">
                                <input type="text" class="text" name="search" placeholder="Your email address" />
                                <a href="#" class="submit">Subscribe</a>
                            </form>
                        </section>
                    </div>
                </div>

                <!-- Copyright -->
                <div id="copyright">
                    &copy; Darululoom Mangalpally.All rights Reserved
                </div>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>