<!DOCTYPE HTML>

<html>
<head>
    <title>Darululoom Mangalpally</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" rel="stylesheet" />


</head>
<body class="homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="index">Darululoom Mangalpally</a></h1>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="Index">Home</a></li>
                        <li><a href="AboutUs">About us</a></li>
                        <li><a href="GALLERY">Gallery</a></li>
                        <li><a href="MANAGEMENT">Management</a></li>

                    </ul>
                </nav>

            </div>
        </div>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Banner -->
            <div id="banner" class="container">
                <div class="row 200%">
                    <section class="6u 12u(narrower)">
                        <div id="one">
                            <header>
                                <h2>Darululoom Mangalpally </h2>
                                <h3>Educational and wellfare society</h3>
                            </header>

                        </div>
                    </section>
                    <section class="6u 12u(narrower) important(narrower)">
                        <div id="box1">
                            <div id="box2"><img src="~/images/pic24.jpeg" alt="" class="image full" /></div>
                        </div>
                    </section>
                </div>
            </div>
            <img width="1125" src="~/images/pic1.jpg" />
            <img width="1125" src="~/images/pic9.jpg" />
            <img width="1125" src="~/images/pic2.jpg" />
            <img width="1125" src="~/images/pic10.jpg" />
            <img width="1125" src="~/images/pic11.jpg" />
            <img width="1125" src="~/images/pic12.jpg" />
            <img width="1125" src="~/images/pic13.jpg" />
            <img width="1125" src="~/images/pic14.jpg" />
            <img width="1125" src="~/images/pic15.jpg" />
            <img width="1125" src="~/images/pic17.jpg" />
            <img width="1125" src="~/images/pic18.jpg" />
            <img width="1125" src="~/images/pic19.jpg" />
            <img width="1125" src="~/images/pic20.jpg" />
            <img width="1125" src="~/images/pic21.jpg" />
            <img width="1125" src="~/images/pic22.jpeg" />
            <img width="1125" src="~/images/pic23.jpeg" />
            <img width="1125" src="~/images/pic24.jpeg" />
            <img width="1125" src="~/images/pic3.jpg" />
            <img width="1125" src="~/images/pic4.jpg" />
            <img width="1125" src="~/images/pic5.jpg" />
            <img width="1125" src="~/images/pic6.jpg" />
            <img width="1125" src="~/images/pic7.jpg" />
            <img width="1125" src="~/images/pic8.jpg" />
            <!-- Copyright -->
            <div id="copyright">
                &copy; Darululoom Mangalpally.All rights Reserved
            </div>
</html>
   </head>