
<!DOCTYPE HTML>

<html>
<head>
    <title>Darululoom Mangalpally</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />


</head>
<body class="homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="index">Darululoom Mangalpally</a></h1>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="Index">Home</a></li>
                        <li><a href="AboutUs">About us</a></li>
                        
                       
                        <li><a href="GALLERY">Gallery</a></li>
                        <li><a href="MANAGEMENT">Management</a></li>
                       
                    </ul>
                </nav>

            </div>
        </div>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Banner -->
            <div id="banner" class="container">
                <div class="row 200%">
                    <section class="6u 12u(narrower)">
                        <div id="one">
                            <header>
                                <h2>Darululoom Mangalpally </h2>
                                <h3>Educational and wellfare society</h3>
                            </header>
                           
                        </div>
                    </section>
                    <section class="6u 12u(narrower) important(narrower)">
                        <div id="box1">
                            <div id="box2"><img src="~/images/pic24.jpeg" alt="" class="image full" /></div>   
                        </div>
                    </section>
                </div>
            </div>

            <!-- Extra #1 -->
            <div id="extra" class="container">
                <ul>
                    <li><a href="#"><img src="~/images/pic29.jpg"  alt="" class="image full" /></a></li>
                   
                    <li>
                        <div class="content">
                            <h3>AIMS AND OBJECTS. Darul uloom mangalpally </h3>
                            <p>
                                1.To maintain unity among all the members.<br />
                                2.To give good education Quranic , Humanity, Modern education, Computer sciences to poor and needy children's.<br />
                                3.To conduct Islamic cultural activities.<br />
                                4.To give good coaching to poor and needy people.<br />
                                5.To conduct sports and cultural activities<br />
                            </p>
                            <a href="AboutUs" class="button">More Info</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Extra #2 -->
            <div id="extra2" class="container">
                <div class="row">
                    <section class="6u 12u(narrower)">
                        <header>
                            <h2>Education</h2>
                            <span class="byline">A good education is a system that make student better.A good education is when it could increase a child's creativity help them enjoy studying and help them through education in their future. Nort only this a good education helps them socialize or communicate with others</span>
                        </header>
                    </section>
                    <section class="6u 12u(narrower)">
                        <ul class="icon">
                            <li>
                                <span class="pennant">
                                    <a href="#"><span class="fa fa-user"></span></a>
                                </span>
                            </li>
                            <li>
                                <div class="pennant">
                                    <a href="#"><span class="fa fa-rocket"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="pennant">
                                    <a href="#"><span class="fa fa-shield"></span></a>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>

            <!-- Featured -->
            <div id="featured" class="container">
                <div class="row">

                    <section class="4u 12u(narrower)">
                        <div class="image-border"><img src="~/images/images.jpg" alt="" class="image full" /></div>
                      
                    </section>

                    <section class="8u 12u(narrower)">
                        <ul class="list">
                            <li>
                                <h3>Preschool</h3>
                                <p>
                                    Preschools provide education from ages approximately three to seven, depending on the country when children enter primary education. These are also known as nursery schools.The pre-primary stage consists of Preparatory class (pre-nursery), nursery, LKG and
                                    UKG. LKG/UKG stage is also called as Kindergarten (KG) stage. At play schools, children are exposed to a lot of basic preschool learning activities that help them to get independent faster.
                                </p>
                              
                            </li>
                            <li>
                                <h3>Primary</h3>
                                <p>Primary education consists of the first five to seven years of formal, structured education. In general, primary education consists of six to eight years of schooling starting at the age of five or six, although this varies between, and sometimes within, countries. Globally, around 89% of children aged six to twelve are enrolled in primary education, and this proportion is rising. Under the Education For All programs</p>
                            
                            </li>
                            <li>
                                <h3>Secondary</h3>
                                <p>In most contemporary educational systems of the world, secondary education comprises the formal education that occurs during adolescence.school intermediate between elementary school and college and usually offering general, technical, vocational, or college-preparatory courses.</p>
                              
                            </li>
                            <li>
                                <h3>Higher Secondary</h3>
                                <p>The Higher Secondary stage of school comprising classes XI-XII  (10+2 pattern) is available in all the States/UTs though in some States/UTs these classes are attached to Universities/Colleges. In senior secondary stage, students have to opt their subjects depending on their interests. Different streams are Medical, Non medical, Commerce and Arts.</p>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>


        </div>

        <!-- Footer -->
        <div id="footer">
            <div class="container">

                <!-- Footer List -->
                <div id="contact">
                    <ul>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-cog"></span>
                            </div>
                            <span>
                                Manual pally village
                                IBRAHIM PATNAM
                                Range reddy dist<br />
                                Telangana.
                            </span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-anchor"><a href="#">healthadviser123@gmail.com</a><br /></span>
                            </div>         
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <span>+(91) 9394705695<br /> +(91) 9347563367</span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-envelope"></span>
                            </div>
                            <span>
                               
                                <a href="#">facebook.com/untitled-corp</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- Copyright -->
                <div id="copyright">
                    &copy; Darululoom Mangalpally.All rights Reserved
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
