
<!DOCTYPE HTML>

<html>
<head>
    <title>Darululoom Mangalpally</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" rel="stylesheet" />


</head>
<body class="left-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="index">Darululoom Mangalpally</a></h1>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="Index">Home</a></li>
                        <li><a href="AboutUs">About us</a></li>
                        <li><a href="GALLERY">Gallery</a></li>
                        <li><a href="MANAGEMENT">Management</a></li>

                    </ul>
                </nav>

            </div>
        </div>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="main" class="container">
                <div class="row 200%">



                    <!-- Content -->
                    <div id="content" class="8u 12u(narrower) important(narrower)">
                        <article>
                            <header>
                                <h2>Management</h2>

                            </header>

                            <p>
                                1.NAZUM E MADRASA.(PRINCIPAL)<br />
                                MAULANA HAFIZ
                                MD SHAKIR QASMI SAHAB.
                                M.A.(Urdu )
                                M.A.(Arabic.) .
                                BCJ.(Journalism)
                                Ph.D.(ARABIC) :Persuing<br />
                            </p>

                            <h3>2.UNDER SUPERVISIIN OF</h3>
                            MAULANA ABDUL KHADIR SAHAB. RISHADI.OIL<br />
                            Nazim e madrasa<br />
                            MADINATUL ULOOM & MADINATUL BANAT KODAD.NALGUNDA DIST.<br />




                            <h3> 3.UNDER THE GUIDANCE OF.</h3>
                            HAFIZ MOHAMMED YAKOOB SAHAB.<br />
                            Nazim e Madrasa.<br />
                            Dawatul Quran<br />
                            Riyasat Nagar. Hyderabad.<br />


                            <h3>  4.Working under Dedicated& String board members. </h3>

                            1.ABDUL MANNAN SAHAB.<br />
                            2.ABDUL GHANI SAHAB.<br />
                            3.NAZEER SAHAB.<br />
                            4.AZIZ UR RAHMAN SAHAB.<br />


                        </article>
                    </div>

                </div>
            </div>

        </div>

        <!-- Footer -->
        <div id="footer">
            <div class="container">

                <!-- Footer List -->
                <div id="contact">
                    <ul class="style4">
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-cog"></span>
                            </div>
                            <span>
                                Manual pally village
                                IBRAHIM PATNAM
                                Range reddy dist<br />
                                Telangana.
                            </span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-anchor"></span>
                            </div>
                            <span>
                                <a href="#">info@untitled.com</a><br />
                                <a href="#">contact@untitled.com</a>
                            </span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <span>+(91) 9394705695<br /> +(91) 9347563367</span>
                        </li>
                        <li>
                            <div class="p-icon">
                                <span class="fa fa-envelope"></span>
                            </div>
                            <span>

                                <a href="#">facebook.com/untitled-corp</a>
                            </span>
                        </li>
                    </ul>
                </div>

                <!-- Newsletter -->
                <div id="newsletter">
                    <div class="row">
                        <section class="6u 12u(narrower)">
                            <span>Online Donations</span>
                            <h3>Paytm and G Pay number:-9121625482</h3>
                            <span>Bank Donations</span>
                            <h2>
                                Canara bank<br />
                                Branch: Vanasthalipuram<br />

                                AC No: 1825101024688<br />
                                IFSC code: CNRB0001825<br />
                            </h2>
                        </section>
                        <section class="6u 12u(narrower)">
                            <form method="post" action="#" id="subscribe">
                                <input type="text" class="text" name="search" placeholder="Your email address" />
                                <a href="#" class="submit">Subscribe</a>
                            </form>
                        </section>
                    </div>
                </div>

                <!-- Copyright -->
                <div id="copyright">
                    &copy; Darululoom Mangalpally.All rights Reserved
                </div>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>

